{{> head }}
{{> navbar }}
<div>
    <div class="col-8">
        <h1>Capitán América</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, velit nemo, saepe molestias temporibus minima ipsum tenetur vel autem incidunt perferendis, repudiandae vitae numquam error! Aliquid facere et porro minus.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/about.jpeg" alt="" class="img-thumbnail">
    </div>
</div>
{{> footer }}